<div class="title-head">
  <h2>Patient Details</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input-wrap">
    <mat-form-field class="main-input">
      <label>First Name</label>
      <input class="input-field" matInput formControlName="firstName" />
      <mat-error *ngIf="form.get('firstName')?.hasError('required')"
        >First Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>Last Name</label>
      <input class="input-field" matInput formControlName="lastName" />
      <mat-error *ngIf="form.get('lastName')?.hasError('required')"
        >Last Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>Phone</label>
      <input class="input-field" matInput formControlName="phone" />
      <mat-error *ngIf="form.get('phone')?.hasError('required')"
        >Phone is required</mat-error
      >
      <mat-error *ngIf="form.get('phone')?.hasError('pattern')"
        >Invalid phone number</mat-error
      >
    </mat-form-field>
  </div>
  <div class="input-wrap">
    <mat-form-field>
      <label>Email</label>
      <input class="input-field" matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="form.get('email')?.hasError('email')"
        >Invalid email</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>Address Line 1</label>
      <input class="input-field" matInput formControlName="addressLine1" />
      <mat-error *ngIf="form.get('addressLine1')?.hasError('required')"
        >Address Line 1 is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>Address Line 2</label>
      <input class="input-field" matInput formControlName="addressLine2" />
    </mat-form-field>
  </div>
  <div class="input-wrap">
    <mat-form-field>
      <label>City</label>
      <input class="input-field" matInput formControlName="city" />
      <mat-error *ngIf="form.get('city')?.hasError('required')"
        >City is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>State</label>
      <input class="input-field" matInput formControlName="state" />
      <mat-error *ngIf="form.get('state')?.hasError('required')"
        >State is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <label>Zipcode</label>
      <input class="input-field" matInput formControlName="zipcode" />
      <mat-error *ngIf="form.get('zipcode')?.hasError('required')"
        >Zipcode is required</mat-error
      >
      <mat-error *ngIf="form.get('zipcode')?.hasError('pattern')"
        >Invalid zipcode</mat-error
      >
    </mat-form-field>
  </div>

  <button class="form-btn" mat-raised-button [disabled]="form.invalid">
    Submit
  </button>
</form>
